<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet" />
</head>
<body>
    <div id="main">
      <a id="plus" href="/create"><i class="ri-add-circle-fill"></i></a>
        <div class="wrap">
          <%notes.forEach(function(note){%>
            <div class="elem">
              <h3><%=note.subject%></h3>
              <p><%=note.detail%></p>
              <p id="date"><%=note.datecreated%></p>
              <a class="btn" id="upd" href="/update/<%=note._id%>">update</a>
              <a class="btn" id="del" href="/delete/<%=note._id%>">delete</a>
            </div>
          <%})%>
        </div>   
    </div>
</body>
</html>